.textLayer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  line-height: 1;
  z-index: 2;
  user-select: text;
  pointer-events: auto;
}

.textLayer span,
.textLayer br {
  color: transparent;
  position: absolute;
  white-space: pre;
  transform-origin: 0% 0%;
  cursor: text;
  user-select: text;
}

.textLayer ::selection {
  background: rgba(96, 165, 250, 0.4);
}